.casino {
  font-family: Arial;
  width: 322px;
  $cell-size: 62px;
  * {
    transition: opacity .4s ease;
  }
  &__table {
    display: flex;
    height: $cell-size * 3.1;
    overflow: hidden;
    .cell {
      width: $cell-size;
      height: $cell-size;
      border: 1px solid #ddd;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__toolbar {
    &-game, &-finish {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-finish {
      display: none;
    }
    &-content {
      margin-bottom: 20px;
    }
    &-bet {
      display: flex;
      align-items: center;
    }
    &-text {
      font-size: 14px;
      color: #555;
      margin: 0 10px;
    }
    &-toggler {
      background: #05862e;
      border: none;
      font-size: 18px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      color: #ffffff;
    }
    &-start, &-finish__button {
      width: 60px;
      height: 50px;
      border-radius: none;
      padding: 0;
      border: none;
      background: #a03131;
      color: #ffffff;
      font-size: 14px;
      text-transform: uppercase;
    }
    &-finish {
      &__button {
        width: 100px;
      }
      &__text {
        font-size: 25px;
      }
    }
  }
  &__info {
    &--finish {
      span {
        color: red;
      }
    }
  }
}